{#
/**
 * @file
 * Override of system/menu.html.twig for a sidebar menu.
 */
#}

{% import _self as menus %}

{#
  Macro to recursively render a hierarchical menu structure. Each level of the
  menu can potentially contain sublevels, distinguished by CSS classes and
  ARIA roles.
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    <ul{% if menu_level == 0 %} class="solo-footer-menu" role="menubar"{% else %} class="solo-footer-menu__sublist" role="menu"{% endif %}>
      {% for item in items %}
        {%
          set classes = [
            'solo-footer-menu__item',
            item.is_expanded ? 'expanded' : null,
            item.is_collapsed ? 'collapsed' : null,
            item.in_active_trail ? 'is-active' : null,
          ]
        %}
        <li{{ item.attributes.addClass(classes) | default(attributes) }} role="none">
          {{ link(item.title, item.url, { 'role': 'menuitem' }) }}
          {% if item.below %}
            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

