  {% if page.highlighted %}
    <!-- Start: Highlighted -->
    <div id="highlighted" class="solo-outer lone highlighted{{ classes_highlighted ? ' ' ~ classes_highlighted }}" {{ attributes_highlighted }}>
      <div id="highlighted-inner" class="solo-inner solo-col solo-col-1 highlighted-inner">
        {{ page.highlighted }}
      </div>
    </div>
    <!-- End: Highlighted -->
  {% endif %}
