  {% if page.welcome_text %}
    <!-- Start: Welcome Text -->
    {% if site_regions_welcome_width %}
      {% set region_classes = 'solo-col solo-col-1 welcome-text-inner' %}
    {% else %}
      {% set region_classes = 'solo-inner solo-col solo-col-1 welcome-text-inner' %}
    {% endif %}

    <div id="welcome-text" class="solo-outer lone welcome-text{{ classes_welcome_text ? ' ' ~ classes_welcome_text }}" {{ attributes_welcome_text }}>
      <div id="welcome-text-inner" class="{{ region_classes }}">
        {{ page.welcome_text }}
      </div>
    </div>
    <!-- End: Welcome Text -->
  {% endif %}
