/* MAIN */

.main-container {
	margin-bottom: 30px;
}

.image-title {
	font-style: italic;
	color: #999;
	font-size: 14px;
	margin: 16px 0;
}

.field--tags__item:nth-last-child(n+2)::after {
	content: none !important;
}

.post-image img {
    border: solid 1px #999;
}

.post-title-inside {
	padding: 16px;
	margin-top: -120px;
	margin-bottom: 88px;
}

.post-title-inside a {
	color: #eee;
	text-shadow: 1px 1px #000;
}
