.page-wrapper.sw-100>.solo-outer>.solo-inner:not(.primary-sidebar-menu-inner,
.page-node-type-pb-content .main-container-inner) {
  max-width: 100%;
}

.page-wrapper.sw-2560>.solo-outer>.solo-inner:not(.primary-sidebar-menu-inner,
.page-node-type-pb-content .main-container-inner) {
  max-width: var(--solo-px2560);
}

.page-wrapper.sw-1920>.solo-outer>.solo-inner:not(.primary-sidebar-menu-inner,
.page-node-type-pb-content .main-container-inner) {
  max-width: var(--solo-px1920);
}

.page-wrapper.sw-1600>.solo-outer>.solo-inner:not(.primary-sidebar-menu-inner,
.page-node-type-pb-content .main-container-inner) {
  max-width: var(--solo-px1600);
}

.page-wrapper.sw-1440>.solo-outer>.solo-inner:not(.primary-sidebar-menu-inner,
.page-node-type-pb-content .main-container-inner) {
  max-width: var(--solo-px1440);
}

.page-wrapper.sw-1280>.solo-outer>.solo-inner:not(.primary-sidebar-menu-inner,
.page-node-type-pb-content .main-container-inner) {
  max-width: var(--solo-px1280);
}

.page-wrapper.sw-1024>.solo-outer>.solo-inner:not(.primary-sidebar-menu-inner,
.page-node-type-pb-content .main-container-inner) {
  max-width: var(--solo-px1024);
}

.page-wrapper.sw-800>.solo-outer>.solo-inner:not(.primary-sidebar-menu-inner,
.page-node-type-pb-content .main-container-inner) {
  max-width: var(--solo-px800);
}
