.node__header,
.node__content {
  margin-bottom: var(--solo-px18);
}


#page-wrapper .text-align-left {
  text-align: left;
}

#page-wrapper .text-align-right {
  text-align: right;
}

#page-wrapper .text-align-center {
  text-align: center;
}

#page-wrapper .text-align-justify {
  text-align: justify;
}

#page-wrapper .node__header.header-is-empty {
  margin-bottom: 0;
  width: initial;
  display: initial;
}

label,
.field__label {
  font-weight: bold;
}

article.node.node--view-mode-full {
  display: grid;
}

article.node.node--view-mode-full>* {
  width: 100%;
}

article.node.node--view-mode-full .node__header {
  display: grid;
}

article.node.node--view-mode-full .node__header .node__meta {
  display: flex;
  justify-content: flex-end;
}

.path-node article.node.node--view-mode-full .node__content {
  display: grid;
}

.path-node article.node.node--view-mode-full .node__content>* {
  width: 100%;
}

.field:not(:last-child) {
  margin-bottom: var(--solo-px18);
}

.field--name-pb-image-field+.field--name-pb-image-caption {
  font-size: var(--solo-px14);
}

.field--label-above {
  display: grid;
}

.node--view-mode-teaser .field--type-image {
  float: left;
  margin-right: var(--solo-px16);
}

.node--view-mode-teaser .field {
  margin-block-end: var(--solo-px16);
}

.node--view-mode-teaser .field:last-child {
  margin-block-end: 0;
}

.field--label-inline .field__label,
.field--label-inline .field__items {
  float: left;
}

[dir="rtl"] .field--label-inline .field__label,
[dir="rtl"] .field--label-inline .field__items {
  float: right;
}

.field--label-inline .field__label,
.field--label-inline > .field__item,
.field--label-inline .field__items {
  padding-inline-end: var(--solo-px8);
}

.field--label-inline .field__label::after {
  content: ":";
}

.field--type-text-long>*>p:first-child,
.field--type-text-with-summary>*>p:first-child,
.field--type-text-long>*>*>p:first-child,
.field--type-text-with-summary>*>*>p:first-child,
.node--view-mode-full > .node__content > .field--type-image + .field--type-text-with-summary > p:first-child {
  margin-top: 0 !important;
}

.node__meta .node__author-image {
  margin-right: var(--solo-px12);
  overflow: hidden;
}

.node__meta .node__author-info {
  font-size: 90%;
}

.node__meta .node__author-image img {
  border-radius: 50%;
}

.node__content ul.links li:last-child {
  margin-right: 0 !important;
  padding-right: 0 !important;
}

.field--name-field-tags.field__items>.field__item,
.field--name-field-tags>.field__items>.field__item {
  margin-right: var(--solo-px16);
}

.field--name-field-tags.field__items>.field__item:last-child,
.field--name-field-tags>.field__items>.field__item:last-child {
  margin-right: 0;
}

.field--type-text-long img:not(.align-center,
.media.align-center img),
.field--type-text-long video:not(.align-center,
.media.align-center img),
.field--type-text-long embed:not(.align-center,
.media.align-center img),
.field--type-text-long object:not(.align-center,
.media.align-center img),
.field--type-text-with-summary img:not(.align-center,
.media.align-center img),
.field--type-text-with-summary video:not(.align-center,
.media.align-center img),
.field--type-text-with-summary embed:not(.align-center,
.media.align-center img),
.field--type-text-with-summary object:not(.align-center,
.media.align-center img) {
  display: inline-block;
}

/* To show multi fields in one line */
.solo__inline-items .field.taxonomy-term-entity.field__items,
.solo__inline-items .field.taxonomy-term-entity>.field__items {
  display: inline-flex;
  flex-wrap: wrap;
}

.solo__inline-items .field.taxonomy-term-entity.field__items>.field__item,
.solo__inline-items .field.taxonomy-term-entity>.field__items>.field__item {
  margin-right: var(--solo-px16);
}

.solo__inline-items .field.taxonomy-term-entity.field__items>.field__item:last-child,
.solo__inline-items .field.taxonomy-term-entity>.field__items>.field__item:last-child {
  margin-right: 0;
}

/* For reading mode */
.sidebar-box-main .reading-mode.node--view-mode-full .field--type-text-long:not(.field--type-comment .field--type-text-long),
.sidebar-box-main .reading-mode.node--view-mode-full .field--type-text-with-summary:not(.field--type-comment .field--type-text-with-summary) {
  max-width: 45rem;
  margin: 0 auto;
}

.region-inner.region-xs ul.tips,
.region-inner.region-xs ul.tips li {
  padding: 0;
}
