nav.tabs {
  margin: var(--solo-px10) 0 !important;
  display: grid;
}

ul.tabs li,
.action-links > li {
  padding: 0 !important;
}

nav.action-links,
ul.secondary,
ul.primary {
  display: flex;
  flex-wrap: wrap;
}

ul.primary {
  border-bottom: 2px solid var(--r-br, var(--r-br-b));
}

ul.secondary li.is-active > a,
ul.primary li.is-active > a {
  font-weight: bold;
}

ul.primary > li {
  border: none;
}

nav.action-links > li > a {
  display: flex;
  align-items: center;
  padding: var(--solo-px12) var(--solo-px16);
}

ul.primary > li > a {
  display: flex;
  align-items: center;
  padding: var(--solo-px6) var(--solo-px16);
  border: 1px solid var(--r-br, var(--r-br-b));
  border-bottom: none;
  margin-right: var(--solo-px6);
  border-radius: var(--solo-px8) var(--solo-px8) 0 0;
}

ul.primary > li:last-child > a {
  margin-right: var(--solo-px0);
}

ul.secondary > li > a {
  padding: var(--solo-px4) var(--solo-px12);
  display: block;
}

ul.primary > li > a,
nav.action-links > li > a {
  text-align: center;
  padding: 8px 16px;
  display: block;
}

ul.secondary > li > a {
  padding: 6px 12px;
  display: block;
}

ul.primary .task-icon {
  display: none;
}
